services:
  mongo:
    image: mongo:latest
    hostname: numbers
    container_name: mongo
    ports:
      - 27017:27017
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
  broker:
    image: apache/kafka:latest
    hostname: numbers
    container_name: broker
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,CONTROLLER://0.0.0.0:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CONNECT_PLUGIN_PATH: "/usr/plugin"
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    #volumes:
    #- ./mongo-kafka-connect-1.14.1-confluent.jar:/usr/plugin/mongo-kafka-connect-1.14.1-confluent.jar
    #- ./sinkToMongo.properties:/opt/kafka/sinkToMongo.properties
    #- ./connect-standalone.properties:/opt/kafka/config/connect-standalone.properties
    #command: ./opt/kafka/bin/connect-standalone.sh ./opt/kafka/config/connect-standalone.properties ./opt/kafka/sinkToMongo.properties
         
  kafka-connect:
    image: confluentinc/cp-kafka-connect-base:6.2.0
    depends_on:
      - broker
      - mongo
    ports:
      - 8083:8083
    volumes:
    - ./mongo-kafka-connect-1.14.1-confluent.jar:/usr/plugin/mongo-kafka-connect-1.14.1-confluent.jar
    - ./sinkToMongo.properties:/opt/kafka/sinkToMongo.properties
    - ./connect-standalone.properties:/opt/kafka/config/connect-standalone.properties
    environment:
      CONNECT_BOOTSTRAP_SERVERS: "broker:29092"
      CONNECT_REST_PORT: 8083
      CONNECT_GROUP_ID: compose-connect-group
      CONNECT_CONFIG_STORAGE_TOPIC: _kafka-connect-group-01-configs
      CONNECT_OFFSET_STORAGE_TOPIC: _kafka-connect-group-01-offsets
      CONNECT_STATUS_STORAGE_TOPIC: _kafka-connect-group-01-status
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      #CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: 'http://schema-registry:8081'
      CONNECT_INTERNAL_KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_INTERNAL_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_REST_ADVERTISED_HOST_NAME: "localhost"
      #CONNECT_LOG4J_ROOT_LOGLEVEL: "INFO"
      #CONNECT_LOG4J_LOGGERS: "org.apache.kafka.connect.runtime.rest=WARN,org.reflections=ERROR"
      #CONNECT_LOG4J_APPENDER_STDOUT_LAYOUT_CONVERSIONPATTERN: "[%d] %p %X{connector.context}%m (%c:%L)%n"
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_PLUGIN_PATH: '/usr/share/java,/connectors,/usr/share/confluent-hub-components/'
    command: 
      - bash 
      - -c 
      - |
        #
        echo "Mongo Connector"
        echo "Installing connector plugins"
        confluent-hub install --no-prompt mongodb/kafka-connect-mongodb:latest

        #
        echo "Launching Kafka Connect worker"
        /etc/confluent/docker/run & 

        #
        echo "Waiting for Kafka Connect to start listening on localhost â³"
        while : ; do
          curl_status=$$(curl -s -o /dev/null -w %{http_code} http://localhost:8083/connectors)
          echo -e $$(date) " Kafka Connect listener HTTP state: " $$curl_status " (waiting for 200)"
          if [ $$curl_status -eq 200 ] ; then
            break
          fi
          sleep 5 
        done
        echo -e "\n--\n+> Creating connector"
        curl -s -o /dev/null -w %{http_code} -i -X PUT -H  "Content-Type:application/json" http://localhost:8083/connectors/mongo-connector/config \
            -d '{
                    "connector.class":"MongoSinkConnector",
                    "connection.uri":"mongodb://mongo:27017",
                    "database":"SuperNumbers",
                    "collection":"numbers",
                    "max.num.retries":3,
                    "retries.defer.timeout":5000,
                    "type.name":"kafka-connect",
                    "topics":"bingos",
                    "name":"mongo-connector",
                    "value.converter":"org.apache.kafka.connect.json.JsonConverter",
                    "value.converter.schemas.enable":"false",
                    "key.converter":"org.apache.kafka.connect.json.JsonConverter",
                    "key.converter.schemas.enable":"false"
        }'
        echo -e $$(date) " Kafka Connect create: " $$curl_status " )"
     
        sleep infinity